
/* Стилі для сайту */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #333;
    color: #000000;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 32px;
    color: #d64801;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: #d64801;
    color: #ffffff;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    line-height: 50px; /* Вирівнює текст вертикально по центру, відповідає висоті кнопки */
    margin-left: 60px;
    text-decoration: none;
}

.katalog-icon {
    font-size: 40px;
    background-color: #000000;
    color: #ff0000;
}

.profile-button {
    float: right;
    margin-right: 20px;
    border-radius: 100%;
    font-size: 40px;
}


nav ul li form {
    margin-left: 850px; 
}

Input {
    width: 250px; 
    height: 30px; 
    font-size: 20px; 
}

Button {
    width: 150px; 
    height: 35px; 
    font-size: 20px; 
}

main {
    padding: 20px;
}

.slider {
    position: relative;
    display: flex; /* Задаємо гнучкий контейнер, щоб додати всі слайди в одному рядку */
    justify-content: center; /* Вирівнюємо слайдер по центру горизонтально */
    align-items: center; /* Вирівнюємо слайдер по центру вертикально */
    height: 50vh; /* Заповнюємо висоту екрану */
    overflow: hidden;
}

.slide {
    height: 400px;
    flex: 0 0 auto; 
    width: 55%; 
    transition: transform 0.5s ease; 
    text-align: center; 
    margin: 0 auto;
}
.prev, .next {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    line-height: 20px;
    font-size: 45px;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px; 
    text-align: center;
    border: 2px solid #fff; 
    z-index: 1; 
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/* Стилі для чату */

.chat-container {
    width: 300px;
    margin: 70px auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.chat-window {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#message-input {
    width: calc(100% - 80px);
    padding: 5px;
    margin-bottom: 10px;
}

#send-button {
    width: 40px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

